*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
}

.container1 
{
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.help 
{
    width: 100%;
    min-height: 40px;
    background-color: #24262B;
    display: flex;
    flex-direction: row;
}

.help .contact 
{
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
}

.contact h4 
{
    color: white;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.help .icons 
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-basis: 20%;
    padding-top: 10px;
}

.icons .b1 
{
    padding-left: 10px;
    color: white;
    font-size: 1.2em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.icons .b1:hover 
{
    color: white;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.logo-menu-div 
{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
    margin-top: 10px;
    background-color: #24262B;
}

.logo-menu-div .logo label 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
}

.menu ul 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.menu ul li 
{
    list-style-type: none;
    padding: 10px;
}

.menu ul li a 
{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.menu ul li:hover 
{
    background-color: #ADBC9F;
    color: black;
}

.menu ul li a:hover 
{
    color: black;
}

.container 
{
    width: 100%;
    /* background-color: gray; */
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.container .content
 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side 
{
    width: 25%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::after 
{
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container .content .left-side .address-details,
.container .content .left-side .Contact-details,
.container .content .left-side .Email-details 
{
    text-align: center;
    margin-top: 20px;
}

.container .content .left-side .topic 
{
    font-weight: bold;
    margin-top: 10px;
}
.container .content .left-side i 
{
    font-size: 24px;
}

.container .content .left-side .text-one,
.container .content .left-side .text-two 
{
    margin-top: 5px;
}

.container .content .right-side 
{
    width: 75%;
    margin-left: 75px;
}

.right-side .topic-text 
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: firebrick;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.right-side p 
{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: bold;
}

.right-side .input-box 
{
    margin-bottom: 20px;
}

.right-side .input-box input,
.right-side .input-box textarea 
{
    height: 30px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 15px;
    box-sizing: border-box;
}

.right-side .input-box.message-box textarea 
{
    height: 80px;
    resize: vertical;
}

.right-side.button
{
    display:inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] 
{
    color:white;
    background-color:blue;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side .button input[type="button"]:hover 
{
    color: white;
}

.footercon{

    width: 100%;
    min-height: 200px;
    /* margin-top: 100px; */
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
.footer
{
    background-color:darkslategray;
    margin-top: 120px;
    padding: 30px 0;
    margin-top: 20px;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.1em;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #E91E63; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col h4:hover
{
    color: #f00;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 1em;
    text-transform: capitalize;
    /* font-weight: bold; */
    color:#fff;
    text-decoration: none;
    font-weight: 100;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color:brown;
    /* padding-left: 8px; */
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.footer-col .social-links a:hover
{
    color:#24262B;
    background-color:lightskyblue;
}

@media screen and (max-width: 768px) 
{
    .container1 
    {
        width: 100%;
    }

    .logo-menu-div 
    {
        flex-direction: column;
        z-index: 10000;
        height: auto;
    }

    .menu ul 
    {
        display: block;
    }

    .menu ul li 
    {
        text-align: center;
    }

    .logo-menu-div .logo label 
    {
        margin-left: 20vw;
        min-width: 150px;
        font-size: 1.6em;
    }
    .footer-col 
    {
        width: 100%;
        padding: 0 15px;
        text-align: center; 
        margin-bottom: 30px; 
    }
    .footer-col h4::before 
    {
        display:none; 
    }
    .container 
    {
        padding: 20px; 
    }

    .container .content 
    {
        flex-direction: column; 
    }
    .container .content .left-side,
    .container .content .right-side 
    {
        width: 100%; 
        margin-left: 0; 
    }

    .right-side 
    {
        margin-top: 20px; 
    }

    .right-side .button 
    {
        text-align: center;
    }

    .right-side .button input[type="button"] 
    {
        width: 100%; 
    }

    .right-side .input-box input,
    .right-side .input-box textarea 
    {
        width: 100%; 
    }
}
